body {
  background-color: grey !important;
}

.navcolorchange {
  background-color: rgba(13, 43, 13, 0.87) !important;
  height: 80px;
}

#topp {
  background-image: url(https://i.pinimg.com/originals/ff/5f/08/ff5f08d68562fce1b98b812a24bf8d05.png);
}

.combined-effect {
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.combined-effect:hover {
  color: black; /* Change to the desired color */
  transform: scale(1.3); /* Change to the desired scale factor */
}

.glow {
  display: inline-block;
  background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);
  color: transparent;
  background-clip: text;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0%,
  100% {
    color: transparent;
  }
  50% {
    color: white;
  }
}
.color-change {
  transition: color 0.4s ease-in-out;
}

.color-changee {
  transition: color 0.4s ease-in-out;
}

.color-changee:hover {
  color: blueviolet;
}

.color-change:hover {
  color: red; /* Change to the desired color */
}

/* .b {
    border: 3px solid red;
  } */
.background-position-color {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7); /* Black with 0.7 opacity */
  padding: 20px; /* Add padding for better visibility */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

.carousel-caption p {
  /* Apply background blur  */
  backdrop-filter: blur(5px);
}
.page_name:hover {
  color: rebeccapurple;
  cursor: progress;
}
.share {
  border-radius: 10px;
  height: 65px;
  background-color: rgb(27, 26, 26);
  width: 75%;
  margin: auto;
  padding: auto;
  margin-top: 24px;
  padding-top: 7px;
}
.box {
  border: 1px solid green;
}
.line {
  border-left: 2px solid rgb(221, 218, 14);
  border-radius: px;
  margin-left: 1%;
}
.nl {
  color: yellow !important;
  margin-left: 10%;
}
.nl1 {
  color: white;
}
.luffyquality {
  filter: blur(1.7px) brightness(77%) contrast(110%) saturate(110%) sepia(10%);
}
.qualitykenpachi {
  filter: blur(1.7px) brightness(60%) contrast(110%) saturate(120%);
}
.qualitynaruto {
  filter: blur(1.7px) brightness(67%) contrast(120%) saturate(120%);
}
.sizingbox {
  background-color: #cf672b;
  width: 76%;
  height: 60px !important;
  padding: auto;
  margin: auto;
  border-bottom-right-radius: 70px !important;
  border-bottom-left-radius: 70px !important;
  margin-top: -2px;
}
body::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #0e0d0d; /* color of the scrollbar thumb */
  border-radius: 70%; /* roundness of the scrollbar thumb */
}

body::-webkit-scrollbar-track {
  background-color: #0d3b04; /* color of the scrollbar track */
}
