body {
  background-color: #ffb2ec !important;
  background-image: linear-gradient(to right, #490c0c, #0059ff);

  font-family: "Poppins", Arial;
}

.navcolorchange {
  background: linear-gradient(50deg, #1a4353, #97830eee);
  height: 80px;
}
.kollor {
  background: linear-gradient(-45deg, #11474e, #3c5305);
}

.combined-effect {
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.combined-effect:hover {
  color: black; /* Change to the desired color */
  transform: scale(1.3); /* Change to the desired scale factor */
}
.show {
  background: linear-gradient(45deg, #161616, #16168f);
  margin: 0.3vw !important;
  border-bottom-left-radius: 90vw;
  border: none;
}
.gradient-text {
  background-image: linear-gradient(to right, #ff0000, #00ff9d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn-close {
  background-color: #7e0523fa;
}

.glow {
  display: inline-block;
  background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);
  color: transparent;
  background-clip: text;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0%,
  100% {
    color: transparent;
  }
  50% {
    color: white;
  }
}
.color-change {
  transition: color 0.4s ease-in-out;
}

.color-changee {
  transition: color 0.4s ease-in-out;
}

.color-changee:hover {
  color: blueviolet;
}

.color-change:hover {
  color: red; /* Change to the desired color */
}

/* .b {
    border: 3px solid red;
  } */
.background-position-color {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7); /* Black with 0.7 opacity */
  padding: 20px; /* Add padding for better visibility */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

.carousel-caption p {
  /* Apply background blur  */
  backdrop-filter: blur(5px);
}
.page_name:hover {
  color: rebeccapurple;
  cursor: progress;
}
.share {
  border-radius: 10px;
  height: 65vw;
  background-color: rgb(27, 26, 26);
  width: 74vw;
  margin: auto;
  padding-bottom: 0.6vw;
  margin-top: 1.1vw;
  padding-top: 0.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.line {
  min-height: 4vw;
  border-left: 2px solid rgb(221, 218, 14);
  border-radius: 0.2vw;
  background-color: rgb(221, 218, 14);
  margin-left: 1vw;
  margin-right: 60vw;
}
.warpp {
  margin-left: -59vw !important;
}
.nl {
  color: yellow !important;
  font-weight: 900 !important;
}
.nl1 {
  color: white;
  margin-right: 1vw;
}
.luffyquality {
  filter: blur(1.7px) brightness(77%) contrast(110%) saturate(110%) sepia(10%);
}
.qualitykenpachi {
  filter: blur(1.7px) brightness(60%) contrast(110%) saturate(120%);
}
.qualitynaruto {
  filter: blur(1.7px) brightness(67%) contrast(120%) saturate(120%);
}
.sizingbox {
  background-color: #cf672b;
  width: 76%;
  height: 60px !important;
  padding: auto;
  margin: auto;
  border-bottom-right-radius: 70px !important;
  border-bottom-left-radius: 70px !important;
  margin-top: -2px;
}
body::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-image: repeating-linear-gradient(to left, rgb(26, 25, 25), rgb(0, 0, 0));
  border-radius: 70%; /* roundness of the scrollbar thumb */
}

body::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #67c26e, #1a4353);
}
.bestsite {
  border-radius: 10px;
  /* height: 65vw; */
  background-color: rgb(27, 26, 26);
  width: 74vw;
  margin: auto;
  padding-bottom: 0.6vw;
  margin-top: 1.1vw;
  padding-top: 0.5vw;
  margin-bottom: 0.7vw;
  padding-bottom: 0.7vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.pormo p {
  color: yellow;
  font-size: xx-large;
  font-weight: 900;
}
.b {
  /* border: 1px solid green; */
  padding: 0.5vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  text-align: left;
}
.b1 {
  color: rgb(47, 145, 145);
}
.b1:hover {
  color: #2fcc0f;
}
.b2:hover {
  color: #e69a68;
}
.b3 {
  color: aquamarine;
}
.b3:hover {
  color: royalblue;
}
.c {
  border: 1vw solid red;
}
.buttonOnLast {
  padding: 0.7vw;
  margin: 1.3vw;
}
.EndingLine {
  padding: 0.7vw;
  margin: 1.3vw;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  filter: contrast(90%) brightness(50%) saturate(110%);
}
.controlpadding {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.card-body{
  background-image: linear-gradient(to right, #d6e419, #ff0077);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Hide the original text color */
}
