* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: rgb(236, 149, 48); */
  background: #d57e12;
  color: white !important;
  margin: 0; /* Remove default body margin */
  height: 150vh;
  /* border: 2px solid red; */
}

#menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1; /* Set a higher z-index to keep the button above other elements */
}

.menu-icon {
  width: 80px;
  height: 80px;
  z-index: +200;
  display: block;
}

#opened-image {
  display: none;
  margin-left: 8%;
  z-index: +100;
  margin-top: -2%;
}

.logo-container {
  top: 10px;
  position: absolute;
  left: 5%;
  transform: translateX(-20%);
  z-index: 1; /* Set a higher z-index to keep the logo above other elements */
}

.navbar-logo {
  width: 300px;
  height: 200px;
  border-radius: 0%;
}
#menu-btn-close {
  display: none;
}
body.active {
  overflow: hidden;
}
/* Define scrollbar styles */
body::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #cf672b; /* color of the scrollbar thumb */
  border-radius: 70%; /* roundness of the scrollbar thumb */
}

body::-webkit-scrollbar-track {
  background-color: #050505; /* color of the scrollbar track */
}
/* Style for navigation text */
#navigation-text {
  border: 1px solid red;
  margin: auto;
  width: 80%;
  height: 80%;
  margin-top: 5%;
  margin-left: 20%;
  position: absolute;
  font-size: 30px; /* Set font size */
  top: 20px;
  font-weight: 1000;
  z-index: 100;
}
.nav_about_naruto {
  border: 1px solid blue;
  margin: auto;
  margin-top: 10%;
}
.nav_anime {
  border: 1px silver solid;
  margin-left: 80%;
}
.nav_manga {
  border: 1px solid yellow;
}
.nav_contact {
  border: 1px solid gainsboro;
}
.nav_link_to_back {
  border: 1px solid green;
}
